################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Json/.vs/Json/v15
/Json/obj
/Exchange/obj
